<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Tracker</a>
</nav>

<div class="row pad-10">
  <div class="col-8">
    <h3>Mapa</h3>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
      <agm-marker *ngFor="let i of items" [latitude]="i.lat" [longitude]="i.lng"></agm-marker>
    </agm-map>
  </div>
  <div class="col-4">
      <h3>Personas</h3>
      <div class="list-group">
        <a *ngFor="let i of items" href="#" class="list-group-item list-group-item-action">{{i.nombre}}</a>
      </div>
  </div>
</div>